@model WebEscuelaProject.Models.InabilityFormModel
@{
    ViewData["Title"] = "Formulario Incapacidades";

    <style>
        .form-control {
            border: 1px solid rgba(0, 0, 0, 0.2);
        }

        .input-group-text {
            border: 1px solid rgba(0, 0, 0, 0.2);
        }

        .dropdown-toggle {
            background-color: #ffffff;
        }
    </style>

    <!-- Flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
}

@{
    List<SelectListItem> emitidoListItems = new List<SelectListItem>();
    emitidoListItems.Add(new SelectListItem
            {
                Text = "Seleccione Una Opción",
                Value = "",
                Selected = true
            });
    emitidoListItems.Add(new SelectListItem
            {
                Text = "INS",
                Value = "ins"
            });
    emitidoListItems.Add(new SelectListItem
            {
                Text = "C.C.S.S.",
                Value = "ccss"
            });
}

@{
    List<SelectListItem> motivoListItems = new List<SelectListItem>();
    motivoListItems.Add(new SelectListItem
            {
                Text = "Seleccione Una Opción",
                Value = "",
                Selected = true
            });
    motivoListItems.Add(new SelectListItem
            {
                Text = "Enfermedad",
                Value = "enfermedad"
            });
    motivoListItems.Add(new SelectListItem
            {
                Text = "Riesgo de Trabajo",
                Value = "riesgo"
            });
    motivoListItems.Add(new SelectListItem
            {
                Text = "Licencia Por Maternidad",
                Value = "maternidad"
            });
    motivoListItems.Add(new SelectListItem
            {
                Text = "Cuido de Paciente en Fase Terminal",
                Value = "cuido"
            });
    motivoListItems.Add(new SelectListItem
            {
                Text = "Otro (Especificar)",
                Value = "otro"
            });
}

<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-4" style="color: black; background-color: #f8f9fa; padding: 20px; border-radius: 10px;">

            <h1 style="color: black; text-align: center;">Formulario de Incapacidades</h1>
            <hr />

            @using (Html.BeginForm("SubmitInabilityForm", "Form", FormMethod.Post, new { id = "formularyForm" }))
            {
                <br>
                <div class="form-group">
                    Nombre
                    @Html.TextBoxFor(model => model.name, new { @class = "requiredfields form-control", @id = "name", @style = "background-color: white;color: black" })
                </div>
                <br>
                <div class="form-group">
                    Primer Apellido
                    @Html.TextBoxFor(model => model.lastname1, new { @class = "requiredfields form-control", @id = "lastname1", @style = "background-color: white;color: black" })
                </div>
                <br>
                <div class="form-group">
                    Segundo Apellido
                    @Html.TextBoxFor(model => model.lastname2, new { @class = "requiredfields form-control", @id = "lastname2", @style = "background-color: white;color: black" })
                </div>
                <br>
                <div class="form-group">
                    Número de Cédula
                    @Html.TextBoxFor(model => model.idCard, new { @class = "requiredfields form-control", @id = "idcard", @style = "background-color: white;color: black" })
                </div>
                <br>
                <div class="form-group">
                    Lugar de Entrega
                    @Html.TextBoxFor(model => model.location, new { @class = "requiredfields form-control", @id = "location", @style = "background-color: white;color: black" })
                </div>
                <br>
                <div class="form-group">
                    Número de Boleta de Incapacidad
                    @Html.TextBoxFor(model => model.numInability, new { @class = "requiredfields form-control", @id = "numInability", @style = "background-color: white;color: black" })
                </div>
                <br>
                <div class="form-group">
                    Puesto en el que Labora
                    @Html.TextBoxFor(model => model.position, new { @class = "requiredfields form-control", @id = "position", @style = "background-color: white;color: black" })
                </div>
                <br>
                <hr />
                <br>
                <div class="form-group">
                    <label>Rige a Partir De</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
                        @Html.TextBoxFor(model => model.effectiveDate, new { @type = "date", @class = "datePicker requiredfields form-control", @id = "datePickerFrom" })
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label>Vence En</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
                        @Html.TextBoxFor(model => model.expiresDate, new { @type = "date", @class = "datePicker requiredfields form-control", @id = "datePickerTo", })
                    </div>
                </div>
                <br>
                <hr />
                <br>
                <div class="form-group">
                    Emitida Por
                    <br>
                    @Html.DropDownListFor(model => model.issuedBy, emitidoListItems, new { @id = "issued", @class = "requiredfields btn dropdown-toggle form-control" })
                </div>
                <br>
                <div class="form-group">
                    Motivo de Incapacidad
                    <br>
                    @Html.DropDownListFor(model => model.reason, motivoListItems, new { @id = "reasonInab", @class = "requiredfields btn dropdown-toggle form-control" })
                </div>
                <br>
                <div id="otherDiv" class="form-group" hidden>
                    Otro Motivo
                    @Html.TextBoxFor(model => model.reasonOther, new { @class = "requiredfields form-control", @id = "otherReason", @style = "background-color: white;color: black" })
                </div>
                <br>
                <hr />
                <br>
                <div class="form-group d-flex flex-column align-items-center">
                    <h4 class="text-center mb-3">Dibuje Su Firma</h4>
                    <button type="button" id="clear" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Limpiar Campo de Firma</button>
                    <br>
                    @Html.HiddenFor(model => model.signature, new { @class = "", @id = "SignatureDataUrl" })
                    <p class="text-center">
                        <canvas width="300" height="200" id="signature" style="border:1px solid black"></canvas>
                    </p>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <p class="warnings" hidden id="missingSignature" style="color:red; margin-top: 5px;">No puede dejar el campo de firma vacío</p>
                </div>
                <br>
                <hr />
                <br>
                <div class="form-group d-flex justify-content-center">
                    <p class="warnings" hidden id="missingFields" style="color:red; margin-top: 5px;">No pueden quedar campos vacíos</p>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <button type="submit" id="submitBTN" class="btn btn-primary"><i class="fa fa-check-square" aria-hidden="true"></i> Enviar Formulario</button>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {

    <!--  Flatpickr -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/es.js"></script>

    <script>

        flatpickr(".datePicker", {
            locale: "es",
            time_24hr: false,
            altInput: true,
            altFormat: "d F Y",
            enableTime: false
        });

    </script>
}


