@model WebEscuelaProject.Models.AccountModel

@{
    Layout = null;
    ViewData["Title"] = "Restablecer Contraseña";
}
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="~/Template/img/logoEscuela.png" />

    <link href="~/Template/css/app.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <main class="d-flex w-100">
        <div class="container d-flex flex-column">
            <div class="row vh-100">
                <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto d-table h-100">

                    @if (Model == null)
                    {
                        <div class="text-center mt-4">
                            <h1 class="h2">Contraseña Cambiada</h1>
                            <p class="lead">
                                La contraseña ha sido cambiada satisfactoriamente.
                            </p>
                            <a href="@Url.Action("Login", "Account")" class="btn btn-success">Iniciar Sesión</a>
                        </div>
                    }
                    else if (Model.ResponseMessage == "TokenExpired")
                    {
                        <div class="text-center mt-4">
                            <h1 class="h2">Tiempo Expirado</h1>
                            <p class="lead" style="color:red;">
                                El tiempo para restablecer la contraseña ha expirado, favor realizar otra solicitud o contactar con la dirección.
                            </p>
                            <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Cancelar</a>
                        </div>
                    }
                    else if (Model.ResponseMessage == "WrongToken")
                    {
                        <div class="text-center mt-4">
                            <h1 class="h2">Token Incorrecto</h1>
                            <p class="lead" style="color:red;">
                                Usted no ha solicitado un restablecimiento de contraseña. Si cree que es un error contacte con dirección.
                            </p>
                            <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Cancelar</a>
                        </div>
                    }
                    else if (!string.IsNullOrEmpty(Model.user_email))
                    {

                        <div class="d-table-cell align-middle">

                            <div class="text-center mt-4">
                                <h1 class="h2">Restablecer Contraseña</h1>
                                <p class="lead">
                                    Ingrese una nueva contraseña
                                </p>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <div class="m-sm-3">
                                        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @id = "resetPassForm" }))
                                        {
                                            <div class="mb-3">
                                                <label class="form-label">Ingrese una contraseña</label>
                                                @Html.PasswordFor(model => model.user_password, new
                                        {@class = "passwords form-control form-control-lg", @id = "pass", @placeholder="Ingrese su Contraseña"})
                                                <p class="warnings" id="missingPass" hidden style="color:red; margin-top: 5px;">Ingrese Una Contraseña</p>
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label">Confirmar Contraseña</label>
                                                <input class="passwords form-control form-control-lg" type="password" id="repeatPass" placeholder="Ingrese su Contraseña" />
                                                <p class="warnings" id="passMatch" hidden style="color:red; margin-top: 5px;">Las contraseñas deben coincidir</p>
                                            </div>

                                            @Html.HiddenFor(model => model.user_email, new {@value = Model.user_email})

                                            <div class="d-grid gap-2 mt-3">
                                                <input type="submit" value="Restablecer Contraseña" class="btn btn-lg btn-primary" />
                                            </div>

                                            <div class="d-grid gap-2 mt-3">
                                                <a href="@Url.Action("Index", "Home")" class="btn btn-light">Regresar</a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </main>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>

</body>

</html>

